[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "third_party/smf"]
	path = third_party/smf
	url = https://github.com/smfrpc/smf.git
	branch = master
[submodule "third_party/cppcodec"]
	path = third_party/cppcodec
	url = https://github.com/tplgy/cppcodec.git
