[submodule "src\\third_party\\pybind11"]
	path = src\\third_party\\pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "src\\third_party\\smf"]
	path = src\\third_party\\smf
	url = https://github.com/ipfn/smf.git
	branch = master
[submodule "src\\third_party\\secp256k1"]
	path = src\\third_party\\secp256k1
	url = https://github.com/ipfn/secp256k1.git
	branch = master
[submodule "src\\third_party\\tvm"]
	path = src\\third_party\\tvm
	url = https://github.com/dmlc/tvm.git
	branch = master
